# Django
DEBUG=True
SECRET_KEY=changeme
ALLOWED_HOSTS=*

# Base de datos
DB_NAME=citas
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Google Calendar API
GOOGLE_CREDENTIALS_PATH=/app/credentials.json
